/* # General
================================ */
:root {
    --shadow: rgba(0, 0, 0, 0.2);
    --color-verde-claro: rgb(55, 165, 80);
    --color-verde-oscuro: rgb(5, 80, 25);

    --color-background-header: rgb(35, 45, 50);
    --color-background-main: rgb(25, 30, 30);
    --color-background-footer: rgb(27, 27, 27);

    --color-gris-claro: rgb(235, 235, 235);
    --color-texto: white;
    --color-input-background-color: rgb(23, 28, 32);
    --color-input-placeholder-color: rgb(120, 130, 120);

    --border-preview: 1px solid white;
    --border-tags-oscuro: 1px solid rgb(10,15,10);

    --box-shadow-border: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);

    /* Medidas */
    --border-radius-pequeño: 5px;
    --border-radius-medio: 10px;
    --border-radius-grande: 20px;
    --scroll-bar-width: 10px;
}

::-webkit-scrollbar {
    width: var(--scroll-bar-width);
}

::-webkit-scrollbar-track {
    border-left: 1px solid black;
    background: rgb(10, 15, 15);
}

::-webkit-scrollbar-thumb {
    border-left: 1px solid black;
    background: var(--color-verde-claro);
}

::-webkit-scrollbar-thumb:hover {
    border-left: 1px solid black;
    background: var(--color-verde-oscuro);
}

* {
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    color: var(--color-texto);
    /* border: var(--border-preview); */
}

body {
    background-color: var(--color-background-main);
}

main {
    margin-top: 50px;
}

/* # Componentes
================================ */
li {
    display: inline-block;
}

input[type="text"], select, button {
    border: 1px solid var(--color-input-placeholder-color);
    border-radius: var(--border-radius-medio);
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"]::placeholder {
  color: rgb(--color-input-placeholder-color);
}

input[type="text"], select {
    background-color: var(--color-input-background-color);
    font-size: 16px;
    padding: 0px 10px;
}

input[type="text"]:focus {
    border: 1px solid var(--color-verde-oscuro);
}

button {
    font-size: 1rem;
    border-width: 0px;
    padding: 0px 10px;
    background-color: var(--color-input-background-color);
    color: var(--color-verde-claro);
}

button img {
    height: 24px;
}

button.enfasis {
    background-color: var(--color-verde-claro);
    color: var(--color-texto);
}

button.enfasis:hover,
button:hover {
    background-color: var(--color-verde-oscuro);
    color: var(--color-texto);
}

button.trans {
    background-color: transparent;
    color: var(--color-verde-claro);
}

button.trans:hover {
    background-color: transparent;
    border: 2px solid var(--color-verde-claro);
}

/* # Clases
================================ */
.container {
    margin: 0 auto;
}

.tags {
    background-color: var(--color-input-background-color);
    border: var(--border-tags-oscuro);
    border-radius: var(--border-radius-grande);
    padding: 5px 10px;
}

/* # Iconos
================================ */
.icono-pequeño {
    height: 20px;
    width: 20px;
}

.icono-grande {
    height: 40px;
    width: 40px;
}

.icono-superficie {
    background-image: url(resources/img/inmuebles/icons/004_square_meter.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.icono-dormitorios {
    background-image: url(resources/img/inmuebles/icons/001_bed.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.icono-antiguedad {
    background-image: url(resources/img/inmuebles/icons/009_calendar.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.icono-baño {
    background-image: url(resources/img/inmuebles/icons/003_bath.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.icono-whatsapp {
    background-image: url(resources/img/svg/whatsapp.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.icono-filtros {
    background-image: url(resources/img/svg/filter_list_white_24dp.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* # Header
================================ */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: var(--color-background-header);
    color: white;
    box-shadow: var(--box-shadow-border);
}

header .container {
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 50px;
    align-items: center;
}

header #inicio {
    display: flex;
    align-items: center;
}

header nav {
    display: inline-block;
    justify-self: center;
    color: black;
}

header nav a {
    padding: 10px;
    border-bottom: 3px solid transparent;
    font-size: large;
}

header nav a:hover {
    color: var(--color-verde-claro);
    border-bottom: 3px solid var(--color-verde-claro);
}

header nav a#selected {
    color: var(--color-verde-claro);
    border-bottom: 3px solid var(--color-verde-claro);
}

header a,
header a:link,
header a:visited {
    color: var(--color-texto);
    text-decoration: none;
}

header #user {
    display: flex;
    justify-content: right;
    align-items: center;
    grid-gap: 5px;
}

header #user img {
    height: 40px;
    border-radius: 100%;
    border-width: 0rem;
}

/* # Main#index
================================ */
main#index .buscador {
    background-image: url(resources/img/jpg/image-hero-a.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: var(--box-shadow-border);
    height: 450px;
}

main#index .buscador h1,
main#index .buscador h2,
main#index .buscador p {
    text-shadow: -1px 1px 5px var(--shadow);
    text-align: center;
}

main#index .buscador h1 {
    font-size: 26px;
}

main#index .buscador h2 {
    font-size: 40px;
}

main#index .buscador p {
    font-size: 10px;
}

/* css para los botones para tipo de operacion */
main#index .tipo-operacion {
    padding-top: 100px;
    padding-bottom: 10px;
}

main#index .tipo-operacion button {
    border-radius: var(--border-radius-pequeño);
    margin-right: 6px;
    width: 188px;
    font-size: 15px;
}

main#index .buscador-barra {
    display: grid;
    grid-template-columns: 177px auto 55px;
    height: 55px;
    font-size: 16px;
}

main#index .buscador-barra select,
main#index .buscador-barra input,
main#index .buscador-barra button {
    border-width: 0px;
    height: 55px;
    font-size: 16px;
}

main#index .buscador-barra select {
    border-top-left-radius: var(--border-radius-pequeño);
    border-top-right-radius: 0px;
    border-bottom-left-radius: var(--border-radius-pequeño);
    border-bottom-right-radius: 0px;
    padding: 10px;
}

main#index .buscador-barra select:focus {
    border-bottom-left-radius: 0px;
}

main#index .buscador-barra input {
    border-radius: 0px;
    padding: 0px 10px;
}

main#index .buscador-barra button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: var(--border-radius-pequeño);;
    border-bottom-right-radius: var(--border-radius-pequeño);;
}

main#index .buscador-barra button span {
    display: none;
}

main#index .buscador-barra button img {
    content:url(resources/img/buttons/search_black_48dp.svg);
}

main#index .buscador-barra button:hover img {
    content:url(resources/img/buttons/search_white_48dp.svg);
}

main#index .informacion {
    display: block;
    padding-top: 100px;
    font-size: 24px;
    text-align: center;
}

main#index .informacion h3 {
    color: white;
    text-shadow: -1px 1px 3px var(--shadow);
    text-align: center;
    margin-bottom: 30px;
}

main#index .informacion iframe {
    margin-bottom: 50px;
    max-width: 100%;
    width: 700px;
    height: 450px;
    border-radius: var(--border-radius-grande);
    box-shadow: var(--box-shadow-border);
}

/* # main#buscar
================================ */
main#buscar .container {
    display: flex;
    justify-content: space-between;
}

main#buscar aside {
    width: calc(25% - 20px);
}

main#buscar aside {
    display: inline-block;
    padding: 10px 0px;
    vertical-align: top;
}

main#buscar aside li {
    display: block;
}

main#buscar aside li.tags {
    display: inline-block;
}

main#buscar aside .filtros {
    display: block;
    box-shadow: var(--box-shadow-border);
    background-color: var(--color-background-header);
    border-radius: var(--border-radius-grande);
    justify-content: space-between;
}

main#buscar aside .filtros .filtros-card {
    padding: 10px;
    border-bottom: 1px solid var(--color-background-main);
}

main#buscar aside .filtros ul,
main#buscar aside .filtros input[type="text"],
main#buscar aside .filtros h2 {
    margin-bottom: 10px;
}

main#buscar aside .filtros h2{
    font-size: 26px;
}

main#buscar aside .filtros input[type="text"],
main#buscar aside .filtros button {
    width: 100%;
}

main#buscar section {
    display: inline-block;
    width: 74%;
    margin-bottom: 10px;
    text-align: 0;
}

main#buscar section .Buscador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

main#buscar section .Buscador .filtros {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main#buscar section .Buscador .filtros div {
    display: flex;
    justify-content: center;
    align-items: center;
}

main#buscar section .Buscador .filtros div span {
    margin-right: 10px;
}

main#buscar section .Buscador .filtros button {
    border: 1px solid var(--color-input-placeholder-color);
    margin-left: 10px;
}

main#buscar section .tarjetas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main#buscar section .tarjeta {
    box-shadow: var(--box-shadow-border);
    background-color: var(--color-background-header);
    border: 0px solid black;
    border-radius: var(--border-radius-grande);
    display: inline-block;
    margin: 10px 0px 10px 0px;
    overflow: hidden;
}

main#buscar section .tarjeta .grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 330px;
}

main#buscar section .tarjeta img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0px auto;
}

main#buscar section .tarjeta div.tarjeta-img {
    background-color: black;
    overflow: hidden;
    text-align: center;
}

main#buscar section .tarjeta div.info {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

main#buscar section .tarjeta div.info .valor {
    font-size: 1.5rem;
}

main#buscar section .tarjeta div.info .expensas {
    font-size: 1rem;
}

main#buscar section .tarjeta div.info ul,
main#buscar section .tarjeta div.info li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

main#buscar section .tarjeta div.info li * {
    margin: 5px;
}

main#buscar section .tarjeta div.info .tarjeta-contact {
    display: flex;
    justify-content: right;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

main#buscar section .tarjeta div.info .tarjeta-contact button {
    margin-left: 10px;
}

main#buscar section .tarjeta div.info .tarjeta-contact button.btn-whatsapp {
    border-radius: 100%;
    width: 33px;
    padding: 0;
}

/* # main#seguro
================================ */
main#seguro .container {
    position:static;
    top: 100px;
    background-color: red;
}

/* # main#profile
================================ */
main#profile {
    color: var(--color-texto);
}

main#profile h1 {
    padding: 20px 0px;
    font-size: 30px;
}

main#profile h2 {
    padding: 10px 0px;
    font-size: 18px;
}

main#profile #email,
main#profile #password {
    margin: 15px 0px;
}

main#profile #email span,
main#profile #password span {
    margin-right: 20px;
}

main#profile #email a,
main#profile #password a {
    color: var(--color-verde-claro);
    margin: 0px 20px;
    padding: 10px 0px;
    text-decoration: none;
}

main#profile #email a:hover,
main#profile #password a:hover {
    margin: 0px 20px;
    padding: 10px 0px;
    text-decoration: underline;
}

main#profile .grid-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    padding-bottom: 20px;
}

main#profile .grid-item {
    margin-bottom: 15px;
}

main#profile .grid-item input[type="text"] {
    display: grid;
    margin-top: 10px;
    padding: 0px 15px;
    height: 40px;
    width: 85%;
    border-width: 1px;
    border-style: solid;
    border-radius: var(--border-radius-medio);
    outline: none;
}

main#profile .container ul {
    list-style: unset;
}

main#profile .container li {
    margin: 5px 0px;
    display: block;
}

main#profile .container li input {
    height: 15px;
    width: 15px;
}

main#profile .container button {
    margin: 10px 0px;
    border-radius: var(--border-radius-medio);
    width: 188px;
    font-size: 15px;
}

/* # footer
================================ */
footer {
    background-color: var(--color-background-footer);
}

footer img {
    height: 40px;
}

footer .container {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    min-height: 200px;
    column-gap: 20px;
}

footer .footer_tarjeta {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

footer h2 {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    vertical-align: baseline;
}

footer li {
    display: block;
}

footer #contacto li {
    float: left;
    margin: 5px;
    margin-top: 10px;
}

footer a, footer a:link, footer a:visited {
    color: white;
    text-decoration: none;
}

footer li a:hover {
    color: rgb(75, 175, 80);
}

/* # media query :: general
================================ */
@media screen and (min-width: 1025px) {
    .container {
        padding: 0px 10px;
        width: 1024px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
        padding: 0px 10px;
        margin: 0px;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
    .container {
        padding: 0px 10px;
        margin: 0px;
    }
}
@media screen and (max-width: 425px) {
    .container {
        padding: 0px 10px;
        margin: 0px;
    }
}

/* # media query :: header
================================ */
@media screen and (min-width: 801px) and (max-width: 875px) {
    header .container {
        grid-template-columns: 170px auto 170px;
    }
}
@media screen and (min-width: 681px) and (max-width: 800px) {
    header .container {
        grid-template-columns: 155px auto 140px;
    }
    header nav a {
        padding: 13px;
        font-size: small;
    }
}
@media screen and (max-width: 680px) {
    header {
        padding: 10px;
    }

    header .container {
        display: flex;
        flex-direction: column;
    }

    header #inicio,
    header #user,
    header nav {
        width: 200px;
    }

    header ul {
        margin: 10px 0;
    }

    header li {
        display: flex;
        flex-direction: column;
    }

    header nav a {
        border: 2px solid transparent;
        border-radius: var(--border-radius-medio);
    }

    header nav a:hover {
        border: 2px solid var(--color-verde-oscuro);
        color: var(--color-verde-claro);
    }

    header nav a#selected {
        border: 2px solid var(--color-verde-oscuro);
        color: var(--color-verde-claro);
    }

    header #inicio {
        margin-left: 20px;
    }

    header #user {
        margin-left: 20px;
        flex-direction: row-reverse;
        justify-content: start;
    }
}

/* # main
================================ */
@media screen and (max-width: 680px) {
    main {
        margin-top: 261px;
    }
}

/* # index
================================ */
@media screen and (max-width: 650px) {
    main#index .tipo-operacion {
        padding-top: 40px;
    }

    main#index .buscador-barra {
        display: flex;
        flex-direction: column;
    }

    main#index .tipo-operacion li {
        border-radius: var(--border-radius-medio);
        width: 100%;
    }

    main#index .tipo-operacion h2 {
        width: 100%;
    }

    main#index .buscador-barra input,
    main#index .buscador button {
        border-radius: var(--border-radius-medio);
        margin-top: 10px;
        padding: 10px;
        width: 100%;
    }

    main#index .buscador-barra select {
        border-radius: var(--border-radius-medio);
        width: 100%;
    }

    main#index .buscador-barra button span {
        display: inline-block;
    }

    main#index .buscador-barra button img {
        display: none;
    }

    main#index .informacion iframe {
        border-radius: var(--border-radius-medio);
        width: 100%;
    }
}
@media screen and (max-width: 375px) {
    main#index .buscador {
        height: 530px;
    }
}

/* # buscar
================================ */
@media screen and (min-width: 1025px) {
    main#buscar section .Buscador button {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    main#buscar aside {
        display: none;
    }

    main#buscar section .buscador button {
        display: block;
    }

    main#buscar section {
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    main#buscar section .Buscador {
        flex-direction: column;
    }

    main#buscar section .Buscador h1 {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 800px) {
    main#buscar section .tarjeta {
        width: calc((100% / 2) - 20px);
    }

    main#buscar section .tarjeta .grid {
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 250px);
    }
}

@media screen and (max-width: 680px) {
    main#buscar section .tarjeta {
        width: 100%;
    }

    main#buscar section .tarjeta .grid {
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 250px);
    }
}

@media screen and (max-width: 350px) {
    main#buscar section .Buscador .filtros {
        flex-direction: column;
    }

    main#buscar section .Buscador .filtros button {
        margin-top: 10px;
    }
}

/* # footer
================================ */
@media screen and (max-width: 680px) {
    footer .container {
        display: flex;
        flex-direction: column;
    }

    footer .container div {
        height: 100px;
    }
}