<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FavIcon -->
    <link rel="icon" type="image/x-icon" href="resources/img/logos/propiedades-locas-icon.png">

    <!-- Incluyo las fonts de google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap" rel="stylesheet">

    <!-- Hoja de estilos -->
    <link rel="stylesheet" href="../Styles/PropiedadesLocas.css">

    <title>Propiedades Locas - Configuracion de perfil</title>
</head>

<body>
    <!-- Header de la pagina, nav bar y perfil de usuario-->
    <header>
        <div class="container">
            <!-- Logo de la empresa, al hacer click te manda al inicio -->
            <a id="inicio" href="index.html">
                <img src="../Images/logos/propiedades-locas.png" alt="Propiedades Locas">
            </a>
            <!-- Barra de navegacion -->
            <nav>
                <ul>
                    <li><a href="Buscar.html">Buscar Propiedades</a></li>
                    <li><a href="Seguro.html">Seguro de Caucion</a></li>
                    <li><a href="Publicar.html">Publicar</a></li>
                </ul>
            </nav>
            <!-- Perfil logeado en la pagina -->
            <a id="user" href="Perfil.html">
                <span>Mi Cuenta</span>
                <img src="../Images/users/perfil.jpg" alt="Foto de perfil del usuario">
            </a>
        </div>
    </header>

    <!-- Contenido de la pagina -->
    <main id="profile">
        <div class="container">
            <h1>Datos personales</h1>
            <h2>Datos de la cuenta</h2>

            <div id="email">
                <span>Email: lucas.ceratto77@gmail.com</span>
                <a href="">Cambiar Email</a>
            </div>

            <div id="password">
                <span>Contraseña: **********</span>
                <a href="">Cambiar Contraseña</a>
            </div>

            <div class="grid-container">
                <div class="grid-item">
                    <span>Nombre:</span><br>
                    <input type="text">
                </div>
                <div class="grid-item">
                    <span>Apellido:</span><br>
                    <input type="text">
                </div>
                <div class="grid-item">
                    <span>Telefono:</span><br>
                    <input type="text">
                </div>
            </div>

            <h2>Suscripciones / Desuscripciones</h2>
            <ul>
                <li><label for="option-1"><input type="checkbox" id="option-1"> Últimas herramientas e
                        información nuestra</label></li>
                <li><label for="option-2"><input type="checkbox" id="option-2"> Permita que otros usuarios del
                        sitio se contacten con Ud.</label></li>
                <li><label for="option-3"><input type="checkbox" id="option-3"> Noticias del mercado</label>
                </li>
                <li><label for="option-4"><input type="checkbox" id="option-4"> Promociones, Sorteos y
                        eventos</label></li>
            </ul>
            <button class="enfasis">Guardar</button>
        </div>
    </main>

    <!-- Pie de pagina -->
    <footer>
        <div class="container">
            <div class="footer_tarjeta">
                <a href="index.html">
                    <img src="../Images/logos/propiedades-locas.png" alt="Propiedades Locas">
                </a>
                <p>
                    Encontrá propiedades e inmuebles en venta y alquiler, casas, departamentos, terrenos, locales,
                    oficinas, quintas, PH, cocheras y más en Propiedades Locas.
                </p>
            </div>

            <div class="footer_tarjeta">
                <h2>Mapa del sitio</h2>
                <ul>
                    <li><a href="Buscar.html">Buscar Propiedades</a></li>
                    <li><a href="Seguro.html">Seguro de Caucion</a></li>
                    <li><a href="Publicar.html"> Publicar</a></li>
                </ul>
            </div>

            <div class="footer_tarjeta" id="contacto">
                <h2>Contacto</h2>
                <p>Escribinos a info@argenprop.com,</p>
                <p>debido a la situación actual</p>
                <p>estamos respondiendo todas las consultas vía email.</p>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/argenprop" target="_blank" rel="noopener noreferrer">
                            <img src="../Images/logos/facebook-logo.png" alt="Logo de Facebook"></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/argenprop" target="_blank" rel="noopener noreferrer">
                            <img src="../Images/logos/instagram-logo.png" alt="Logo de Instagram"></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/argenprop" target="_blank" rel="noopener noreferrer">
                            <img src="../Images/logos/twitter-logo.png" alt="Logo de Twitter"></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/user/Argenprop" target="_blank" rel="noopener noreferrer">
                            <img src="../Images/logos/youtube-logo.png" alt="Logo de Youtube"></a>
                    </li>
                    <li>
                        <a href="https://ar.pinterest.com/argenprop" target="_blank" rel="noopener noreferrer">
                            <img src="../Images/logos/pintrest-logo.png" alt="Logo de Pintrest"></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>