<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- SEO -->
        <meta name="Publicá departamentos, casas, terrenos, oficinas y más en venta o alquiler en Propiedades Locas.
        Abonos especiales para Inmobiliarias. Gestioná tus propiedades con Propiedades Locas y obtené beneficios exclusivos!">
        <meta name="keywords" content="Publicar, Alquilar, Departamento, Casa, Depto, Terreno, Local, Tienda, Oficina, Cochera, Inmobiliaria">
        <title>Publicar propiedades, venta o alquiler - Propiedades Locas</title>

        <!-- FavIcon -->
        <link rel="icon" type="image/x-icon" href="../images/logos/propiedades-locas-icon.png">

        <!-- Incluyo las fonts de google -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap" rel="stylesheet">

        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
        crossorigin="anonymous">
        <!-- Toastify -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
        <!-- Hoja de estilos -->
        <link rel="stylesheet" href="../styles/styles.css">
    </head>
    <body>
        <!-- Header de la pagina, nav bar y perfil de usuario-->
        <header class="bg-dark">
            <div class="container-xl">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="index.html">
                            <img src="../images/logos/propiedades-locas.png" alt="Propiedades Locas"></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="Buscar.html">
                                        Buscar propiedades</a></li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="Seguro.html">
                                        Seguro de Caucion</a></li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="Publicar.html">
                                        Publicar</a></li>
                            </ul>
                        </div>
                        <div>
                            <ul id="header-user" class="navbar-nav me-auto mb-2 mb-lg-0">
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <!-- Contenido de la pagina -->
        <main id="publicar">
            <div class="container-xl">
                <h1>Publica tu propiedad en Propiedades Locas</h1>

                <div class="d-flex flex-wrap">
                    <section class="col-6 d-flex">
                        <div class="imagen d-flex justify-content-center">
                            <img src="../images/content/publicar-inmobiliarias.svg" alt="Imagen con muchas casas">
                        </div>
                        <div class="info">
                            <h2>Tenes una inmobiliaria?</h2>
                            <p>La mayor difusion de tus ofertas en internet</p>
                            <ul>
                                <li>Packs de abonos especiales para inmobiliarias.</li>
                                <li>Gestionar tus propiedades fácilmente</li>
                                <li>Obtené beneficios exclusivos para tu negocio.</li>
                                <li>Accedé a más beneficios con Garantías de Alquiler de Propiedades Locas.</li>
                            </ul>
                        </div>
                        <button class="btn btn-primary">Publicar como inmobiliaria</button>
                    </section>

                    <section class="col-6 d-flex">
                        <div class="imagen d-flex justify-content-center">
                            <img class="h-100" src="../images/content/publicar-particular.svg" alt="Imagen con una casa">
                        </div>
                        <div class="info">
                            <h2>Sos propietario?</h2>
                            <p>Vendé o Alquilá tu propiedad en Propiedades Locas</p>
                            <ul>
                                <li>Publica tu aviso en sitio lider de operaciones inmobiliaria.</li>
                                <li>Millones de visitas mensuales en nuestro sitio.</li>
                                <li>Cargá fácilmente datos, fotos y videos de tu propieadad.</li>
                                <li>Alquilá tranquilo con nuestras Garantías de alquiler.</li>
                            </ul>
                        </div>
                        <button class="btn btn-primary">Publicar como propietario</button>
                    </section>
                </div>
            </div>
        </main>

        <!-- Pie de pagina -->
        <footer>
            <div class="container-xl">
                <div class="footer_tarjeta">
                    <a href="index.html">
                        <img src="../images/logos/propiedades-locas.png" alt="Propiedades Locas">
                    </a>
                    <p>
                        Encontrá propiedades e inmuebles en venta y alquiler, casas, departamentos, terrenos, locales,
                        oficinas, quintas, PH, cocheras y más en Propiedades Locas.
                    </p>
                </div>

                <div class="footer_tarjeta">
                    <h2>Mapa del sitio</h2>
                    <ul>
                        <li><a href="Buscar.html">Buscar Propiedades</a></li>
                        <li><a href="Seguro.html">Seguro de Caucion</a></li>
                        <li><a href="Publicar.html"> Publicar</a></li>
                    </ul>
                </div>

                <div class="footer_tarjeta" id="contacto">
                    <h2>Contacto</h2>
                    <p>Escribinos a info@argenprop.com,</p>
                    <p>debido a la situación actual</p>
                    <p>estamos respondiendo todas las consultas vía email.</p>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/argenprop" target="_blank" rel="noopener noreferrer">
                                <img class="img-circular img-smaller" src="../images/logos/facebook-logo.png" alt="Logo de Facebook"></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/argenprop" target="_blank" rel="noopener noreferrer">
                                <img class="img-circular img-smaller" src="../images/logos/instagram-logo.png" alt="Logo de Instagram"></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/argenprop" target="_blank" rel="noopener noreferrer">
                                <img class="img-circular img-smaller" src="../images/logos/twitter-logo.png" alt="Logo de Twitter"></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/user/Argenprop" target="_blank" rel="noopener noreferrer">
                                <img class="img-circular img-smaller" src="../images/logos/youtube-logo.png" alt="Logo de Youtube"></a>
                        </li>
                        <li>
                            <a href="https://ar.pinterest.com/argenprop" target="_blank" rel="noopener noreferrer">
                                <img class="img-circular img-smaller" src="../images/logos/pintrest-logo.png" alt="Logo de Pintrest"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>

        <!-- BootStrap -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        <!-- Toastify-->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
        <!-- Mis scripts -->
        <script src="../src/userAccounts.js"></script>
    </body>
</html>