@import "../base/variables";
@import "../base/maps";
@import "../base/mixins";

footer {
	background-color: $color-background-footer;

	img {
		height: 40px;
	}

	h2 {
		font-size: 18px;
		margin-bottom: 10px;
	}

	ul {
		list-style: none;
		vertical-align: baseline;
	}

	li {
		display: block;

		a:hover {
			color: $color-primary;
		}
	}

	a,
	a:link,
	a:visited {
		color: $color-texto;
		text-decoration: none;
	}

	.container-xl {
		@include displaygrid(repeat(3, 1fr), auto);
		align-items: start;
		min-height: 200px;
		column-gap: 20px;
	}

	.footer_tarjeta {
		@include displayflex(column, nowrap, left, top);
		flex-direction: column;
		margin-top: 20px;
	}

	#contacto li {
		float: left;
		margin: 5px;
		margin-top: 10px;
	}

	@media screen and (max-width: 680px) {
		.container-xl {
			@include displayflex(column, nowrap, left, top);

			div {
				height: 130px;
			}
		}
	}
}
