.icon-pequeño {
	height: 20px;
	width: 20px;
}

.icon-grande {
	height: 40px;
	width: 40px;
}

.icono-superficie {
	background-image: url(../images/icons/004_square_meter.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

.icono-dormitorios {
	background-image: url(../images/icons/001_bed.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

.icono-antiguedad {
	background-image: url(../images/icons/009_calendar.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

.icono-baño {
	background-image: url(../images/icons/003_bath.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

.icono-whatsapp {
	background-image: url(../images/icons/whatsapp.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

.icono-filtros {
	background-image: url(../images/icons/filter_list_white_24dp.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

.icon-buscar {
	background-image: url(../images/icons/search_white_48dp.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

.icon-basura {
	background-image: url(../images/icons/delete_white_48dp.svg);
	background-repeat: no-repeat;
	background-size: cover;
}
