//colores
$color-texto: white;
$color-gris-claro: rgb(235, 235, 235);
$color-input-background-color: rgb(23, 28, 32);
$color-input-placeholder-color: rgb(120, 130, 120);
$color-primary: #0D6EFD;
$color-secundary: #6C757D;
$color-background-header: rgb(33, 37, 41);
$color-background: rgb(23, 27, 31);
$color-background-footer: rgb(27, 27, 27);