:root {
    /* Colores
    ============================== */
    --color-texto: white;
    --color-gris-claro: rgb(235, 235, 235);
    --color-input-background-color: rgb(23, 28, 32);
    --color-input-placeholder-color: rgb(120, 130, 120);
    --color-primary: #0D6EFD;
    --color-secundary: #6C757D;
    --color-background-header: rgb(33, 37, 41);
    --color-background: rgb(23, 27, 31);
    --color-background-footer: rgb(27, 27, 27);

    /* Bordes
    ============================== */
    --border-tags-oscuro: 1px solid rgb(10,15,10);

    /* Sombras
    ============================== */
    --box-shadow-border: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);

    /* Medidas
    ============================== */
    --border-radius-pequeño: 5px;
    --border-radius-medio: 10px;
    --border-radius-grande: 20px;
    --scroll-bar-width: 10px;
}

/* Estilos generales
============================== */
body {
    background-color: var(--color-background);
    color: var(--color-texto);
}

/* Clases genericas
============================== */
.img-circular {
    border: 0px solid black;
    border-radius: 100%;
}

.img-smaller {
    width: 40px;
    height: 40px;
}

/* # Iconos
================================ */
.icono-pequeño {
    height: 20px;
    width: 20px;
}

.icono-grande {
    height: 40px;
    width: 40px;
}

.icono-superficie {
    background-image: url(../Images/propiedades/icons/004_square_meter.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.icono-dormitorios {
    background-image: url(../Images/propiedades/icons/001_bed.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.icono-antiguedad {
    background-image: url(../Images/propiedades/icons/009_calendar.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.icono-baño {
    background-image: url(../Images/propiedades/icons/003_bath.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.icono-whatsapp {
    background-image: url(../Images/icons/whatsapp.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.icono-filtros {
    background-image: url(../Images/icons/filter_list_white_24dp.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-buscar {
    background-image: url(../Images/icons/search_white_48dp.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-basura {
    background-image: url(../Images/icons/delete_black_white_48dp.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* # Main#index
================================ */
main#index .buscador {
    background-image: url(../Images/content/image-hero-a.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: var(--box-shadow-border);
    height: 450px;
}

main#index .buscador h1,
main#index .buscador h2,
main#index .buscador p {
    text-shadow: -1px 1px 5px var(--shadow);
    text-align: center;
}

main#index .buscador h1 {
    font-size: 26px;
}

main#index .buscador h2 {
    font-size: 40px;
}

main#index .buscador p {
    font-size: 10px;
}

main#index .tipo-operacion {
    padding-top: 100px;
    padding-bottom: 10px;
}

main#index .tipo-operacion button {
    border-radius: var(--border-radius-pequeño);
    margin-right: 6px;
    width: 188px;
    font-size: 15px;
}

main#index .buscador-barra {
    display: grid;
    grid-template-columns: 177px auto 55px;
    height: 55px;
    font-size: 16px;
}

main#index .buscador-barra select,
main#index .buscador-barra input,
main#index .buscador-barra button {
    border-width: 0px;
    height: 55px;
    font-size: 16px;
}

main#index .buscador-barra select {
    border-top-left-radius: var(--border-radius-pequeño);
    border-top-right-radius: 0px;
    border-bottom-left-radius: var(--border-radius-pequeño);
    border-bottom-right-radius: 0px;
    padding: 10px;
}

main#index .buscador-barra select:focus {
    border-bottom-left-radius: 0px;
}

main#index .buscador-barra input {
    border-radius: 0px;
    padding: 0px 10px;
}

main#index .buscador-barra button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: var(--border-radius-pequeño);;
    border-bottom-right-radius: var(--border-radius-pequeño);;
}

main#index .buscador-barra button span {
    display: none;
}

main#index .informacion {
    display: block;
    padding-top: 100px;
    font-size: 24px;
    text-align: center;
}

main#index .informacion h3 {
    color: white;
    text-shadow: -1px 1px 3px var(--shadow);
    text-align: center;
    margin-bottom: 30px;
}

main#index .informacion iframe {
    margin-bottom: 50px;
    max-width: 100%;
    width: 700px;
    height: 450px;
    border-radius: var(--border-radius-grande);
    box-shadow: var(--box-shadow-border);
}

/* # main#buscar
================================ */
main#buscar aside {
    padding: 10px 0px;
    vertical-align: top;
    display: inline-block;
}

main#buscar aside li {
    display: block;
}

main#buscar aside li.tags {
    padding: 5px;
}

main#buscar aside .filtros {
    display: block;
    box-shadow: var(--box-shadow-border);
    border-radius: var(--border-radius-medio);
    justify-content: space-between;
}

main#buscar aside .filtros .filtros-card {
    padding: 10px;
    border-bottom: 1px solid var(--color-background-main);
}

main#buscar aside .filtros ul,
main#buscar aside .filtros input[type="text"],
main#buscar aside .filtros h2 {
    margin-bottom: 10px;
}

main#buscar aside .filtros h2{
    font-size: 26px;
}

main#buscar aside .filtros input[type="text"],
main#buscar aside .filtros button {
    width: 100%;
}

main#buscar section {
    display: inline-block;
    margin-bottom: 10px;
    text-align: 0;
    padding: 0px 10px;
}

main#buscar section h1 {
    display: inline-block;
    font-size: 1.5rem;
}

main#buscar section .Buscador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

main#buscar section .Buscador .filtros {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main#buscar section .Buscador .filtros div {
    display: flex;
    justify-content: center;
    align-items: center;
}

main#buscar section .Buscador .filtros div span {
    margin-right: 10px;
}

main#buscar section .Buscador .filtros button {
    margin-left: 10px;
}

main#buscar section .tarjetas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main#buscar section .card-container {
    padding: 5px;
    background-color: transparent;
}
main#buscar section .card {
    box-shadow: var(--box-shadow-border);
    background-color: var(--color-background-header);
    border: 0px solid black;
    border-radius: var(--border-radius-medio);
    display: inline-block;
    margin: 10px 0px 10px 0px;
    overflow: hidden;
    width: 100%;
    height: 500px;
}
main#buscar section .card .carousel-inner {
    height: 250px;
}
main#buscar section .card-body ul,
main#buscar section .card-body li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0px;
    padding-right: 10px;
}

main#buscar section .tarjeta .grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 330px;
}

main#buscar section .tarjeta img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0px auto;
}

main#buscar section .tarjeta div.tarjeta-img {
    background-color: black;
    overflow: hidden;
    text-align: center;
}

main#buscar section .tarjeta div.info {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

main#buscar section .tarjeta div.info .valor {
    font-size: 1.5rem;
}

main#buscar section .tarjeta div.info .expensas {
    font-size: 1rem;
}

main#buscar section .tarjeta div.info ul,
main#buscar section .tarjeta div.info li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

main#buscar section .tarjeta div.info li * {
    margin: 5px;
}

main#buscar section .tarjeta div.info .tarjeta-contact {
    display: flex;
    justify-content: right;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

main#buscar section .tarjeta div.info .tarjeta-contact button {
    margin-left: 10px;
}

main#buscar section .tarjeta div.info .tarjeta-contact button.btn-whatsapp {
    border-radius: 100%;
    width: 33px;
    padding: 0;
}

/* # main#seguro
================================ */
main#seguro .image {
    margin-right: 20px;
    width: 60px;
}
main#seguro h3,
main#seguro p {
    margin: 0;
    font-size: 16px;
}
main#seguro .mini-card {
    margin-bottom: 20px;
}
main#seguro .card-content {
    flex-direction: column;
    padding: 0px 5px;
    margin-bottom: 10px;
}
main#seguro .card-content label {
    margin-top: 5px;
}
main#seguro .requeriments {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* # main#publicar
================================ */
main#publicar h1 {
    margin-bottom: 10px;
}
main#publicar section {
    padding: 10px;
    flex-direction: column;
}
main#publicar .content {
    flex-wrap: wrap;
}
main#publicar section .imagen {
    background-color: white;
    overflow: hidden;
    height: 200px;
    border-radius: var(--border-radius-grande)
}
main#publicar section .info {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 250px;
}

/* # main#profile
================================ */
main#profile {
    color: var(--color-texto);
}

main#profile h1 {
    padding: 20px 0px;
    font-size: 30px;
}

main#profile h2 {
    padding: 10px 0px;
    font-size: 18px;
}

main#profile #email,
main#profile #password {
    margin: 15px 0px;
}

main#profile #email span,
main#profile #password span {
    margin-right: 20px;
}

main#profile #email a,
main#profile #password a {
    color: var(--color-verde-claro);
    margin: 0px 20px;
    padding: 10px 0px;
    text-decoration: none;
}

main#profile #email a:hover,
main#profile #password a:hover {
    color: var(--color-verde-claro);
    margin: 0px 20px;
    padding: 10px 0px;
    text-decoration: underline;
}

main#profile .grid-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    padding-bottom: 20px;
}

main#profile .grid-item {
    margin-bottom: 15px;
}

main#profile .grid-item input[type="text"] {
    display: grid;
    margin-top: 10px;
    padding: 0px 15px;
    height: 40px;
    width: 85%;
    outline: none;
}

main#profile .container ul {
    list-style: unset;
}

main#profile .container li {
    margin: 5px 0px;
    display: block;
}

main#profile .container li input {
    height: 15px;
    width: 15px;
}

main#profile .container button {
    margin: 10px 0px;
    width: 188px;
    font-size: 15px;
}

/* # footer
================================ */
footer {
    background-color: var(--color-background-footer);
}

footer img {
    height: 40px;
}

footer .container-xl {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    min-height: 200px;
    column-gap: 20px;
}

footer .footer_tarjeta {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

footer h2 {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    vertical-align: baseline;
}

footer li {
    display: block;
}

footer #contacto li {
    float: left;
    margin: 5px;
    margin-top: 10px;
}

footer #contacto li:hover {
    transition: 0.2s;
    transform: scale(1.2, 1.2);
}

footer a, footer a:link, footer a:visited {
    color: white;
    text-decoration: none;
}

footer li a:hover {
    color: var(--color-primary);
}

/* # Media Querys
================================ */

/* # index
================================ */
@media screen and (max-width: 650px) {
    main#index .tipo-operacion {
        padding-top: 40px;
    }

    main#index .buscador-barra {
        display: flex;
        flex-direction: column;
    }

    main#index .tipo-operacion li {
        border-radius: var(--border-radius-medio);
        width: 100%;
    }

    main#index .tipo-operacion h2 {
        width: 100%;
    }

    main#index .buscador-barra input,
    main#index .buscador button {
        border-radius: var(--border-radius-medio);
        margin-top: 10px;
        padding: 10px;
        width: 100%;
    }

    main#index .buscador-barra select {
        border-radius: var(--border-radius-medio);
        width: 100%;
    }

    main#index .buscador-barra button span {
        display: inline-block;
    }

    main#index .buscador-barra button img {
        display: none;
    }

    main#index .informacion iframe {
        border-radius: var(--border-radius-medio);
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
    main#index .buscador {
        height: 530px;
    }
}

/* # buscar
================================ */
@media screen and (min-width: 1025px) {
    main#buscar section .Buscador button {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    main#buscar aside {
        display: none;
    }

    main#buscar section .buscador button {
        display: block;
    }

    main#buscar section {
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    main#buscar section .Buscador {
        flex-direction: column;
    }

    main#buscar section .Buscador h1 {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 800px) {
    main#buscar section .tarjeta {
        width: calc((100% / 2) - 20px);
    }

    main#buscar section .tarjeta .grid {
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 250px);
    }
}

@media screen and (max-width: 680px) {
    main#buscar section .col-6 {
        width: 100%;
    }

    main#buscar section .tarjeta .grid {
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 250px);
    }
}

@media screen and (max-width: 350px) {
    main#buscar section .Buscador .filtros {
        flex-direction: column;
    }

    main#buscar section .Buscador .filtros button {
        margin-top: 10px;
    }
}

/* # seguro
================================ */
@media screen and (max-width: 1060px) {
    main#seguro .content {
        flex-direction: column;
    }
    main#seguro .col-8 {
        width: 100%;
    }
    main#seguro .col-4 {
        width: 100%;
    }
}

/* # publicar
================================ */
@media screen and (max-width: 920px) {
    main#publicar .col-6 {
        width: 100%;
    }
    main#publicar .info {
        height: auto!important;
    }
}

/* # footer
================================ */
@media screen and (max-width: 680px) {
    footer .container-xl {
        display: flex;
        flex-direction: column;
    }

    footer .container-xl div {
        height: 130px;
    }
}